---
container_image: {{ container_image }}
container_name: {{ container_name }}
container_command: {{ container_command }}
crontime_minutes_offset: {{ crontime_minutes_offset }}

docker_volume_name: {{ docker_volume_name }}
docker_volume_for_container: {{ docker_volume_for_container }}
docker_volume_backup_dirs: {{ docker_volume_backup_dirs }}
docker_volume_backup_hour: {{ docker_volume_backup_hour }}
docker_volume_backup_minute: {{ docker_volume_backup_minute }}
